<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      وحدة التدريب والتبادل الطلابي | الصفحة الرئيسية
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link rel="icon" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script defer src="../scripts/popUp.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header_top_bar"></div>
      <div class="header_container">
        <div id="logo-text-eng" class="header-element">
          TAIBAH UNIVERSITY
        </div>
        <img
          id="header_logo"
          class="img-fluid"
          src="../images/header-logo.png"
        />

        <div id="logo-text-ar" class="header-element">
          جــــامـــعــة طــيــبــة
        </div>
      </div>
    </header>
    <!-- Navigation bar -->
    <div class="topnav" id="myTopnav">
      <nav>
        <a class="Notes" href="./notes.html">الملاحظات</a>
        <a class="Registration" href="./registration.html">التسجيل</a>
        <a class="Program" href="./training.html">برامج التدريب </a>
        <a class="Home" href="./index.html"> الصفحة الرئيسية</a>
      </nav>
    </div>

    <!-- Details -->

    <div id="details" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>وحدة التدريب والتبادل الطلابي</h1>
              <p>
                تهدف وحدة التدريب الطلابي إلى تحقيق الترابط والتكامل بين
                المعلومات النظرية التي اكتسبها الطلاب في كلياتهم المختلفة
                والممارسات الواقعية في سوق العمل
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="menu-container">
              <div class="flex-row">
                <button id="objective-btn" class="menu-button">
                  <img src="../images/objective_icon.png" /> الرسالة والرؤية
                </button>
              </div>
              <div class="flex-row">
                <button id="benefits-btn" class="menu-button">
                  <img src="../images/benefits_icon.png" />الفوائد
                </button>
                <button id="mission-btn" class="menu-button">
                  <img src="../images/mission_icon.png" />المهام
                </button>
                <button id="goals-btn" class="menu-button">
                  <img src="../images/goals_icon.png" />الأهداف
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Details popup -->

    <div id="myModal1" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الرسالة والرؤية</h1>
        <div class="colors-container">
          <div id="orange" class="color"></div>
          <div id="brown" class="color"></div>
          <div id="blue" class="color"></div>
        </div>
        <p>
          تتمثل رسالة وحدة التدريب في التركيز على تطوير المهارات التطبيقية لدى
          خريجي الكليات من خلال بناء علاقات قوية بين الكليات وطلابها من جهة،
          وجهات التدريب الخارجية من جهة أخرى بما يضمن الانخراط السريع للخريجين
          في سوق العمل
        </p>
      </div>
    </div>

    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الفوائد</h1>
        <div class="colors-container">
          <div id="orange" class="color"></div>
          <div id="brown" class="color"></div>
          <div id="blue" class="color"></div>
        </div>
        <div class="list_container">
          <p>
            إكساب الطلاب المهارات العملية التي تتناسب ومتطلبات سوق العمل
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            ممارسة الطلاب لبعض المهام الوظيفية في جهة العمل ، والتعرف على بعض
            الأدوات والآليات المستخدمة ضمن العملية الإدارية : كالسياسات والقواعد
            والإجراءات ونماذج العمل والبرامج والموازنات والهياكل التنظيمية
            وأدوات الرقابة والتقييم
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة بالاتصال الشفوي والكتابي وغير
            اللفظي، وإكسابه القدرة على التعامل بشكل أفضل مع الآخرين في إطار بيئة
            عمل واقعية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة ببحث وتحليل بعض الموضوعات أو
            المشاكل الفنية الواقعية في بيئة العمل والتي لها ارتباط بتخصصه؛ بحيث
            يصبح قادرا على : وصف وتحليل هذه الموضوعات والربط بينها وبين الأفكار
            والنظريات التي درسها في المقررات الدراسية ذات العلاقة بهذه الموضوعات
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            تنمية مهارات الطلاب في مجال كتابة التقارير؛ حيث تتاح له الفرصة
            لتطبيق المعارف التي اكتسبها في هذا المجال؛ بحيث يصبح قادرا على إعداد
            التقارير الإدارية بأنواعها المختلفة
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            زيادة فرصة حصول الطلاب على وظيفة مناسبة داخل المؤسسة التي تدرب فيها
            بعد انتهاء فترة التدريب
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            دعم وتقوية العلاقة الايجابية مع جهات التدريب، من خلال عمليات التواصل
            المستمرة التي تتم بين المشرفين الأكاديميين للطلاب والمسؤولين في هذه
            الجهات، بما يدعم بناء صورة ذهنية ايجابية عن الكليات وخريجيها
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>المهام</h1>
        <div class="colors-container">
          <div id="orange" class="color"></div>
          <div id="brown" class="color"></div>
          <div id="blue" class="color"></div>
        </div>
        <div class="list_container">
          <p>
            تعزيز التفاهم والتعاون والثقة بين الطلاب والمؤسسات الأكاديمية وأصحاب
            العمل والمجتمع الدولي
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            تفعيل برامج تبادل التدريب العملي بكفاءة عالية من أجل تعزيز التنمية
            التقنية والمهنية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            العمل بصرف النظر عن العرق أو اللون أو الجنس أو الثقافة أو المعتقدات
            الدينية أو الإعاقة أو التعبير
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <div id="myModal4" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الأهداف</h1>
        <div class="colors-container">
          <div id="orange" class="color"></div>
          <div id="brown" class="color"></div>
          <div id="blue" class="color"></div>
        </div>
        <div class="list_container">
          <p>
            ممارسة الطلاب لبعض المهام الوظيفية في جهة العمل ، والتعرف على بعض
            الأدوات والآليات المستخدمة ضمن العملية الإدارية : كالسياسات والقواعد
            والإجراءات ، ونماذج العمل ، والبرامج ، والموازنات ، والهياكل
            التنظيمية وأدوات الرقابة والتقييم
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة ببحث وتحليل بعض المواضيع أو
            المشاكل الفنية الواقعية في بيئة العمل والتي لها ارتباط بتخصصه؛ بحيث
            يصبح قادرًا على : وصف وتحليل هذه المواضيع والربط بينها وبين الأفكار
            والنظريات التي درسها في المقررات الدراسية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <!-- Slideshow -->
    <div id="slideshow-section" class="basic-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slideshow-container">
              <h2>مقتطفات من البرنامج</h2>
              <div id="slideshow">
                <!--Slideshow here-->
                <div
                  id="training-slideshow"
                  class="carousel slide slideshow-container"
                  data-ride="carousel"
                  data-interval="3000"
                >
                  <!--Indicator-->
                  <ol class="carousel-indicators">
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="0"
                      class="active"
                    ></li>
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="1"
                    ></li>
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="2"
                    ></li>
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="3"
                    ></li>
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="4"
                    ></li>
                    <li
                      data-target="#training-slideshow"
                      data-slide-to="5"
                    ></li>
                  </ol>

                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="numbertext">1 / 6</div>
                      <img
                        src="../images/Training Pictures/P1.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                    </div>
                    <div class="carousel-item">
                      <div class="numbertext">2 / 6</div>
                      <img
                        src="../images/Training Pictures/P2.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <mark class="caption-text">
                          تكريم اعضاء وحدة التدريب والتبادل الطلابي
                        </mark>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="numbertext">3 / 6</div>
                      <img
                        src="../images/Training Pictures/P3.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <mark class="caption-text">
                          تكريم الشركات المشاركة في تدريب الطلاب والطالبات
                        </mark>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="numbertext">4 / 6</div>
                      <img
                        src="../images/Training Pictures/P4.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <mark class="caption-text">
                          تكريم وكيل الجامعة للشؤون التعليمية د.خالد آل مسعود
                          لشركات
                        </mark>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="numbertext">5 / 6</div>
                      <img
                        src="../images/Training Pictures/P5.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <mark class="caption-text">
                          سعادة وكيل الجامعة د. خالد آل سعود و د.وسيم لسكر
                        </mark>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="numbertext">6 / 6</div>
                      <img
                        src="../images/Training Pictures/P6.jpeg"
                        class="d-block w-100"
                        alt="slideshow image"
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <mark class="caption-text">
                          احدى الطالبات المتدربات ضمن البرنامج من عمان
                        </mark>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <p>وصف</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Members -->

    <div class="basic-1">
      <div class="container">
        <h2>أعضاء الوحدة</h2>
        <div class="row" dir="rtl">
          <div class="col-md-6 leaders">
            <img src="../images/leader.png" />
            <div>
              د. وسيم جميل لسكر
              <p>مشرف وحدة التدريب والتبادل الطلابي</p>
            </div>
          </div>

          <div class="col-md-6 leaders">
            <img src="../images/leader.png" />
            <div>
              م. مالك بن صالح السمحان
              <p>مساعد مشرف وحدة التدريب والتبادل الطلابي</p>
            </div>
          </div>
        </div>

        <div class="members-container" dir="rtl">
          <div class="row">
            <!--row-->

            <div class="col-6 col-sm-3">
              <span class="chip">
                إبراهيم حسام حكيم
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                أفنان سلامة
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                ام كلثوم الشنقيطي
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                أنس عبدالسلام ناصيف
              </span>
            </div>

            <!--row-->

            <div class="col-6 col-sm-3">
              <span class="chip">
                أوفى شهاب الدين
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                بدر بن سمير مدني
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                بسمة التركستاني
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                بيان محمود الواعظ
              </span>
            </div>

            <!--row-->

            <div class="col-6 col-sm-3">
              <span class="chip">
                بدر بن سمير مدني
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                حسن فاروق عربي
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                رزان جاد
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                سنا قارة
              </span>
            </div>

            <!--row-->

            <div class="col-6 col-sm-3">
              <span class="chip">
                شيماء الحربي
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                عائشة محمد الدباغ
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                عثمان طلال كردي
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                عمر علي جراح
              </span>
            </div>

            <!--row-->

            <div class="col-6 col-sm-3">
              <span class="chip">
                فاطمة المطيري
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                مريم الردادي
              </span>
            </div>

            <div class="col-6 col-sm-3">
              <span class="chip">
                ناجية الحربي
              </span>
            </div>

            <div class="col-6 col-sm-3"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col">
              <h5>وحدة التدريب والتبادل الطلابي بجامعة طيبة</h5>
              <ul>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-map-marker"></i>
                    وكالة الجامعة للشؤون التعليمية ، مبنى 654
                  </p>
                </li>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-envelope"></i>
                    <a class="email-link" href="mailto:SETU@email.com"
                      >SETU@email.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-col">
              <h5>تواصلوا معنا</h5>

              <div class="icons-container">
                <span class="fa-stack">
                  <a href="https://twitter.com/setu_taibahU" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#facebook" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a
                    href="https://www.instagram.com/Iaeste_Saudi_Arabia/"
                    target="_blank"
                  >
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#linkedin" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              وحدة التدريب والتبادل الطلابي 1441 هـ / 2020 - جامعة طيبة ©
            </p>
          </div>
        </div>
      </div>
    </div>
    <script></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
