<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      وحدة التدريب والتبادل الطلابي | الصفحة الرئيسية
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/home.css"
    />
    <link rel="icon" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script defer src="../js/script.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header_top_bar"></div>
      <div class="header_container">
        <div id="logo-text-eng" class="header-element">
          TAIBAH UNIVERSITY
        </div>
        <img
          id="header_logo"
          class="img-fluid"
          src="../images/header-logo.png"
        />

        <div id="logo-text-ar" class="header-element">
          جــــامـــعــة طــيــبــة
        </div>
      </div>
    </header>
    <!-- Navigation bar -->
    <div class="topnav" id="myTopnav">
      <nav>
        <a class="Notes" href="">الملاحظات</a>
        <a class="Registration" href="">التسجيل</a>
        <a class="program" href="">برامج التدريب</a>
        <a class="active" href="">الصفحة الرئيسية</a>
      </nav>
    </div>

    <!-- Details -->

    <div id="details" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>وحدة التدريب والتبادل الطلابي</h1>
              <p>
                تهدف وحدة التدريب الطلابي إلى تحقيق الترابط والتكامل بين
                المعلومات النظرية التي اكتسبها الطلاب في كلياتهم المختلفة
                والممارسات الواقعية في سوق العمل
              </p>
            </div>

            <div id="details-menu">
              <div class="menu-container">
                <div>
                  <button id="objective-btn" class="menu-button">
                    <img src="../images/objective_icon.png" /> الرسالة والرؤية
                  </button>
                </div>
                <div class="button-container">
                  <button id="benefits-btn" class="menu-button">
                    <img src="../images/benefits_icon.png" />الفوائد
                  </button>
                  <button id="mission-btn" class="menu-button">
                    <img src="../images/mission_icon.png" />المهام
                  </button>
                  <button id="goals-btn" class="menu-button">
                    <img src="..//images/goals_icon.png" />الأهداف
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal1" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الرسالة والرؤية</h1>
        <div class="colors-container">
          <div class="orange"></div>
          <div class="brown"></div>
          <div class="blue"></div>
        </div>
        <p>
          تتمثل رسالة وحدة التدريب في التركيز على تطوير المهارات التطبيقية لدى
          خريجي الكليات من خلال بناء علاقات قوية بين الكليات وطلابها من جهة،
          وجهات التدريب الخارجية من جهة أخرى بما يضمن الانخراط السريع للخريجين
          في سوق العمل
        </p>
      </div>
    </div>

    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الفوائد</h1>
        <div class="colors-container">
          <div class="orange"></div>
          <div class="brown"></div>
          <div class="blue"></div>
        </div>
        <div class="list_container">
          <p>
            إكساب الطلاب المهارات العملية التي تتناسب ومتطلبات سوق العمل
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            ممارسة الطلاب لبعض المهام الوظيفية في جهة العمل ، والتعرف على بعض
            الأدوات والآليات المستخدمة ضمن العملية الإدارية : كالسياسات والقواعد
            والإجراءات ونماذج العمل والبرامج والموازنات والهياكل التنظيمية
            وأدوات الرقابة والتقييم
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة بالاتصال الشفوي والكتابي وغير
            اللفظي، وإكسابه القدرة على التعامل بشكل أفضل مع الآخرين في إطار بيئة
            عمل واقعية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة ببحث وتحليل بعض الموضوعات أو
            المشاكل الفنية الواقعية في بيئة العمل والتي لها ارتباط بتخصصه؛ بحيث
            يصبح قادرا على : وصف وتحليل هذه الموضوعات والربط بينها وبين الأفكار
            والنظريات التي درسها في المقررات الدراسية ذات العلاقة بهذه الموضوعات
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            تنمية مهارات الطلاب في مجال كتابة التقارير؛ حيث تتاح له الفرصة
            لتطبيق المعارف التي اكتسبها في هذا المجال؛ بحيث يصبح قادرا على إعداد
            التقارير الإدارية بأنواعها المختلفة
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            زيادة فرصة حصول الطلاب على وظيفة مناسبة داخل المؤسسة التي تدرب فيها
            بعد انتهاء فترة التدريب
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            دعم وتقوية العلاقة الايجابية مع جهات التدريب، من خلال عمليات التواصل
            المستمرة التي تتم بين المشرفين الأكاديميين للطلاب والمسؤولين في هذه
            الجهات، بما يدعم بناء صورة ذهنية ايجابية عن الكليات وخريجيها
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>المهام</h1>
        <div class="colors-container">
          <div class="orange"></div>
          <div class="brown"></div>
          <div class="blue"></div>
        </div>
        <div class="list_container">
          <p>
            تعزيز التفاهم والتعاون والثقة بين الطلاب والمؤسسات الأكاديمية وأصحاب
            العمل والمجتمع الدولي
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            تفعيل برامج تبادل التدريب العملي بكفاءة عالية من أجل تعزيز التنمية
            التقنية والمهنية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            العمل بصرف النظر عن العرق أو اللون أو الجنس أو الثقافة أو المعتقدات
            الدينية أو الإعاقة أو التعبير
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <div id="myModal4" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>الأهداف</h1>
        <div class="colors-container">
          <div class="orange"></div>
          <div class="brown"></div>
          <div class="blue"></div>
        </div>
        <div class="list_container">
          <p>
            ممارسة الطلاب لبعض المهام الوظيفية في جهة العمل ، والتعرف على بعض
            الأدوات والآليات المستخدمة ضمن العملية الإدارية : كالسياسات والقواعد
            والإجراءات ، ونماذج العمل ، والبرامج ، والموازنات ، والهياكل
            التنظيمية وأدوات الرقابة والتقييم
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
        <div class="list_container">
          <p>
            الارتقاء بمستوى مهارات الطلاب المتعلقة ببحث وتحليل بعض المواضيع أو
            المشاكل الفنية الواقعية في بيئة العمل والتي لها ارتباط بتخصصه؛ بحيث
            يصبح قادرًا على : وصف وتحليل هذه المواضيع والربط بينها وبين الأفكار
            والنظريات التي درسها في المقررات الدراسية
          </p>
          <img class="img" src="../images/IAESTE_page.PNG" />
        </div>
      </div>
    </div>

    <!-- Slideshow -->
    <div id="slideshow-section" class="basic-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slideshow-container">
              <h2>صور التدريب</h2>
              <div id="slideshow">Slideshow here</div>
              <p>وصف</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Members -->

    <div id="slideshow-section" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slideshow-container">
              <h2>أعضاء الوحدة</h2>
              <div>
                ...................................................<br /><br /><br /><br /><br /><br /><br /><br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col">
              <h4>تواصلوا معنا</h4>

              <div class="icons-container">
                <span class="fa-stack">
                  <a href="#twittwer">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                  </a>
                </span>
                <!---  <span class="fa-stack">
                  <a href="#instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </a>
                </span> -->
                <span class="fa-stack">
                  <a href="#linkedin">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-col">
              <h4>وحدة التدريب والتبادل الطلابي بجامعة طيبة</h4>
              <ul>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-map-marker"></i>
                    وكالة الجامعة للشؤون التعليمية ، مبنى 654
                  </p>
                </li>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-envelope"></i>
                    <a class="email-link" href="mailto:SETU@email.com"
                      >SETU@email.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              وحدة التدريب والتبادل الطلابي 1441 هـ / 2020 - جامعة طيبة ©
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
