<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      وحدة التدريب والتبادل الطلابي | الصفحة الرئيسية
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/main.css"
    />
    <link rel="icon" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script defer src="../js/script.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header_top_bar"></div>
      <div class="header_container">
        <div id="logo-text-eng" class="header-element">
          TAIBAH UNIVERSITY
        </div>
        <img
          id="header_logo"
          class="img-fluid"
          src="../images/header-logo.png"
        />

        <div id="logo-text-ar" class="header-element">
          جــــامـــعــة طــيــبــة
        </div>
      </div>
    </header>
    <!-- Navigation bar -->
    <div class="topnav" id="myTopnav">
      <nav>
        <a class="Notes" href="./notes.html">الملاحظات</a>
        <a class="Registration" href="./registration.html">التسجيل</a>
        <a class="Program" href="./training.html">برامج التدريب </a>
        <a class="Home" href="./index.html"> الصفحة الرئيسية</a>
      </nav>
    </div>

    <!-- Details -->

    <br><br>
    <center><br>
        <form action="/action_page.php">
            <fieldset>
              <legend> <font face="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  color="#045072" size="60%">
                 الملاحظات
                </font></legend>
              <font face="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  color="#045072" >
              فضلاً قم بإدخال جميع الملاحظات لغرض التحسين والتطوير   </font> <br>
              <textarea name="textarea" required ></textarea><br><br>
              <input type="submit" value="Submit" style="background-color:#6c757d ; border-color:white; color:white">
            </fieldset>
          </form>

        </center><br>
    
              

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col">
              <h4>تواصلوا معنا</h4>

              <div class="icons-container">
                <span class="fa-stack">
                  <a href="#twittwer">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                  </a>
                </span>
                <!---  <span class="fa-stack">
                  <a href="#instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </a>
                </span> -->
                <span class="fa-stack">
                  <a href="#linkedin">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-col">
              <h4>وحدة التدريب والتبادل الطلابي بجامعة طيبة</h4>
              <ul>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-map-marker"></i>
                    وكالة الجامعة للشؤون التعليمية ، مبنى 654
                  </p>
                </li>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-envelope"></i>
                    <a class="email-link" href="mailto:SETU@email.com"
                      >SETU@email.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              وحدة التدريب والتبادل الطلابي 1441 هـ / 2020 - جامعة طيبة ©
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
