<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      وحدة التدريب والتبادل الطلابي | برامج التدريب
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/training.css"
    />
    <link rel="icon" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script defer src="../scripts/map.js"></script>
    <script defer src="../scripts/popUp.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header_top_bar"></div>
      <div class="header_container">
        <div id="logo-text-eng" class="header-element">
          TAIBAH UNIVERSITY
        </div>
        <img
          id="header_logo"
          class="img-fluid"
          src="../images/header-logo.png"
        />

        <div id="logo-text-ar" class="header-element">
          جــــامـــعــة طــيــبــة
        </div>
      </div>
    </header>
    <!-- Navigation bar -->
    <div class="topnav" id="myTopnav">
      <nav>
        <a class="Notes" href="./notes.html">الملاحظات</a>
        <a class="Registration" href="./registration.html">التسجيل</a>
        <a class="Program" href="./training.html">برامج التدريب </a>
        <a class="Home" href="./index.html"> الصفحة الرئيسية</a>
      </nav>
    </div>
    <!-- General Info -->
    <div class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-container">
              <h1 class="title-eng">
                External Training and IAESTE <br />Student Exchange Program
              </h1>
              <img id="IAESTE_logo" src="../images/IAESTE_logo.PNG" class="img-fluid"/>
              <h1 class="title-ar">
                التدريب في الدول الخارجية<br />
                و برنامج ايستا للتبادل الطلابي
              </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="text-container" dir="rtl">
            <p>
              مختصر كلمة الايستا تعني (الرابطة الدولية لتبادل الطلاب) للحصول على
              الخبرة التقنية وهي جمعية تعني و تهتم برفع قدرات الطالب الجامعي و
              تنمية مهارته ورفع كفاءته و خبراته و تهيئته مستقبلا لسوق العمل و
              حقيقة ما يميز هذه الجمعية انها غير ربحية ، ولها اهداف تتعلق بإيصال
              المتدربين الى اهم القطاعات الحكومية و الخاصة و توفير التدريب
              المتميز في مجالهم التخصصي و التقني كما ان الجمعية تعني و تهتم و
              تقدر الجهات المتعاونة معها و يتم بشكل دوري تكريمهم في المحافل
              الدولية، كما ان العديد من الجهات خلال مسيرتها ترغب بتوظيف
              المتدربين لاحقا في قطاعاتهم نظرا لكفاءة المتدرب العالية و مستواهم
              الدراسي المتقدم.
            </p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
              <div class="property-card">
                <div class="property-image">
                  <p class="image-icon fa fa-users" aria-hidden="true"></p>
                </div>
                <div class="property-description">
                  <h5>4000+</h5>
                  <p>
                    طالب تخدمه المنظمة
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
              <div class="property-card">
                <div class="property-image">
                  <p class="image-icon fa fa-university" aria-hidden="true"></p>
                </div>
                <div class="property-description">
                  <h5>1000+</h5>
                  <p>مؤسسة أكاديمية تقدم التدريب المهني</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
              <div class="property-card">
                <div class="property-image">
                  <p class="image-icon fa fa-globe" aria-hidden="true"></p>
                </div>
                <div class="property-description">
                  <h5>80+</h5>
                  <p>دولة في جميع انحاء العالم</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-container">
            <h3>أهداف جمعية إيستا</h3>
          </div>
          <div class="goals-container">
            <div class="list_container">
              <p class="subText">
                تزويد الطلاب بالخبرة التقنية ذات الصلة لدراستهم
              </p>
              <img src="../images/IAESTE_page.PNG" />
            </div>
            <div class="list_container">
              <p class="subText">
                أن تكون مصدراً لتعزيز التبادل الثقافي للمتدربين والمجتمعات
                المضيفة لهم
              </p>

              <img src="../images/IAESTE_page.PNG" />
            </div>
            <div class="list_container">
              <p class="subText">
                توفير متدربين على درجة عالية من الكفاءة لأصحاب العمل
              </p>

              <img src="../images/IAESTE_page.PNG" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- IAESTE in SA -->

    <div class="basic-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h2>انضمام المملكة العربية السعودية للايستا</h2>
            </div>
            <div class="text-container">
                <img src="../images/SaudiFlag.png" class="img-fluid flagImg" />
                تم إنشاء الأيستا في السعودية بشكل عام في عام 2015 و بذلك تسجلت
                جامعة طيبة كأول مؤسسة تعليمية في المملكة العربية السعودية تنضم
                لهذه المجموعة الكبيرة و العريقة وكان لها الدور السبق. منذ أنضمام
                جامعة طيبة و حتى هذه اللحظة تعتبر عضوية الجامعة Corporate member
                كعضو فقط ولكن الوحدة تعمل بشكل دائم و مستمر لتطوير عضويتها الى
                عضوية مشارك Associate member ومن ثم لاحقا الى عضوية كاملة Full
                member و ذلك بالتأكيد سيعكس إيجابا على زيادة الفرص التدريبية
                لطلابنا ، المشاركة في إتخاذ القرارات في المجموعة ، و اخيرا تمثيل
                جامعتنا طيبة الطيبة خير تمثيل عالميا و إقليميا.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Training countries -->

    <div class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h2>دول التدريب الخارجي</h2>
            </div>

            <div id="chartdiv"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col">
              <h5>وحدة التدريب والتبادل الطلابي بجامعة طيبة</h5>
              <ul>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-map-marker"></i>
                    وكالة الجامعة للشؤون التعليمية ، مبنى 654
                  </p>
                </li>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-envelope"></i>
                    <a class="email-link" href="mailto:SETU@email.com"
                      >SETU@email.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-col">
              <h5>تواصلوا معنا</h5>

              <div class="icons-container">
                <span class="fa-stack">
                  <a href="https://twitter.com/setu_taibahU" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#facebook" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a
                    href="https://www.instagram.com/Iaeste_Saudi_Arabia/"
                    target="_blank"
                  >
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#linkedin" target="_blank">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              وحدة التدريب والتبادل الطلابي 1441 هـ / 2020 - جامعة طيبة ©
            </p>
          </div>
        </div>
      </div>
    </div>
    <script></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  </body>
</html>
