<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      وحدة التدريب والتبادل الطلابي | الصفحة الرئيسية
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/home.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/training.css"
    />
    <link rel="icon" href="../images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script defer src="../js/map.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header_top_bar"></div>
      <div class="header_container">
        <div id="logo-text-eng" class="header-element">
          TAIBAH UNIVERSITY
        </div>
        <img
          id="header_logo"
          class="img-fluid"
          src="../images/header-logo.png"
        />

        <div id="logo-text-ar" class="header-element">
          جــــامـــعــة طــيــبــة
        </div>
      </div>
    </header>
    <!-- Navigation bar -->
    <div class="topnav" id="myTopnav">
      <nav>
        <a class="Notes" href="">الملاحظات</a>
        <a class="Registration" href="">التسجيل</a>
        <a class="program" href="training.html">برامج التدريب</a>
        <a class="active" href="index.html">الصفحة الرئيسية</a>
      </nav>
    </div>

    <nav>
      <p>
        External Training and AESTA Student Exchange Program
      </p>
      <img id="IAESTE_logo" src="../images/IAESTE_logo.PNG" />
      <p>
        التدريب في الدول الخارجية و برنامج ايستا للتبادل الطلابي
      </p>
    </nav>

    <h2 class="text">
      مختصر كلمة الايستا تعني (الرابطة الدولية لتبادل الطلاب) للحصول على الخبرة
      التقنية وهي جمعية تعني و تهتم برفع قدرات الطالب الجامعي و تنمية مهارته
      ورفع كفاءته و خبراته و تهيئته مستقبلا لسوق العمل و حقيقة ما يميز هذه
      الجمعية انها غير ربحية ، ولها اهداف تتعلق بإيصال المتدربين الى اهم
      القطاعات الحكومية و الخاصة و توفير التدريب المتميز في مجالهم التخصصي و
      التقني كما ان الجمعية تعني و تهتم و تقدر الجهات المتعاونة معها و يتم بشكل
      دوري تكريمهم في المحافل الدولية، كما ان العديد من الجهات خلال مسيرتها ترغب
      بتوظيف المتدربين لاحقا في قطاعاتهم نظرا لكفاءة المتدرب العالية و مستواهم
      الدراسي المتقدم حاليا هذه المنظمة تخدم 4000 طالب و 3000 أصحاب العمل و 1000
      المؤسسات الأكاديمية من خلال التدريب المهني التي ترتكز في المقام الأول على
      التبادل الطلابي وتنوع الخبرات، وبطبيعة الحال الجمعية تعزز تنوع الثقافات من
      خلال عملها تحت مظلة تخدم اكثر من 80 دولة في جميع انحاء العالم
    </h2>

    <div class="text-container">
      <h1>أهداف جمعية إيستا</h1>
    </div>
    <section>
      <p class="subText">
        تزويد الطلاب بالخبرة التقنية ذات الصلة لدراستهم
      </p>
      <img src="../images/IAESTE_page.PNG" class="checkImg" />

      <p class="subText">
        أن تكون مصدراً لتعزيز التبادل الثقافي للمتدربين والمجتمعات المضيفة لهم
      </p>

      <img src="../images/IAESTE_page.PNG" class="checkImg" />

      <p class="subText">
        توفير متدربين على درجة عالية من الكفاءة لأصحاب العمل
      </p>

      <img src="../images/IAESTE_page.PNG" class="checkImg" />
    </section>

    <br />
    <div class="text-container">
      <h1>انضمام المملكة العربية السعودية للايستا</h1>
    </div>
    <section>
      <img id="flagImg" src="../images/SaudiFlag.PNG" />
      <p id="txt">
        تم إنشاء الأيستا في السعودية بشكل عام في عام 2015 و بذلك تسجلت جامعة
        طيبة كأول مؤسسة تعليمية في المملكة العربية السعودية تنضم لهذه المجموعة
        الكبيرة و العريقة وكان لها الدور السبق. منذ أنضمام جامعة طيبة و حتى هذه
        اللحظة تعتبر عضوية الجامعة Corporate member كعضو فقط ولكن الوحدة تعمل
        بشكل دائم و مستمر لتطوير عضويتها الى عضوية مشارك Associate member ومن ثم
        لاحقا الى عضوية كاملة Full member و ذلك بالتأكيد سيعكس إيجابا على زيادة
        الفرص التدريبية لطلابنا ، المشاركة في إتخاذ القرارات في المجموعة ، و
        اخيرا تمثيل جامعتنا طيبة الطيبة خير تمثيل عالميا و إقليميا.
      </p>
    </section>
    <br />

    <div class="text-container">
      <h1>دول التدريب الخارجي</h1>
    </div>

    <div id="chartdiv"></div>

    <br />

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col">
              <h4>تواصلوا معنا</h4>

              <div class="icons-container">
                <span class="fa-stack">
                  <a href="#twittwer">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </a>
                </span>
                <span class="fa-stack">
                  <a href="#facebook">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook-f fa-stack-1x"></i>
                  </a>
                </span>
                <!---  <span class="fa-stack">
                  <a href="#instagram">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </a>
                </span> -->
                <span class="fa-stack">
                  <a href="#linkedin">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-col">
              <h4>وحدة التدريب والتبادل الطلابي بجامعة طيبة</h4>
              <ul>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-map-marker"></i>
                    وكالة الجامعة للشؤون التعليمية ، مبنى 654
                  </p>
                </li>
                <li class="media">
                  <p class="media-body">
                    <i class="fa fa-envelope"></i>
                    <a class="email-link" href="mailto:SETU@email.com"
                      >SETU@email.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>
              وحدة التدريب والتبادل الطلابي 1441 هـ / 2020 - جامعة طيبة ©
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
</html>
