:root {
  --color-primary-blue: #44b1ce;
  --color-primary-yellow: #dfb029;
  --color-primary-brown: #8e805b;
  --colro-dark-blue: #045072;
  --color-text-dark: #364f6b;
  --color-text-light: #6c757d;
}

/*  fonts for header logo  */
@font-face {
  font-family: "dinnextltLight";
  src: url("../fonts/dinnextlt_arabic_light.ttf");
}

@font-face {
  font-family: "franklinGothic";
  src: url("../fonts/franklin_gothic_medium_cond_regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  width: 100%;
  height: 100%;
}

/***********************/
/*     01. Header     */
/***********************/

.header_container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin: 7px;
}

#header_top_bar {
  width: 100%;
  height: 12px;
  background-color: var(--color-primary-blue);
}

#header_logo {
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
}

.header-element {
  display: inline-block;
  text-align: center;
}

#logo-text-ar {
  font-family: "dinnextltLight";
  font-size: 10px;
  font-weight: 500;
  color: #0181bd;
  padding-top: 5%;
  padding-left: 5%;
}

#logo-text-eng {
  font-family: "franklinGothic";
  font-size: 8px;
  font-weight: 500;
  color: #0181bd;
  padding-top: 6%;
  padding-right: 7%;
}

/***********************/
/*     02. Nav bar     */
/***********************/

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topnav a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 6px;
  width: 100%;
  padding: 5px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black; /*لما يجي عليه الكلام*/
}

.topnav a.active {
  background-color: #44b1ce;
  color: white;
  text-align: center;
}

.topnav a.program {
  background-color: #045072;
  color: white;
  text-align: center;
}

.topnav a.Registration {
  background-color: #8e805b;
  color: white;
  text-align: center;
}
.topnav a.Notes {
  background-color: #dfb029;
  color: white;
  text-align: center;
}

/***********************/
/*     03. Details     */
/***********************/
/*white section*/
.basic-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.basic-1 .text-container {
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 7rem;
}
.text-container h1 {
  font-weight: bold;
  font-size: 1rem;
}

.text-container p {
  font-size: 1rem;
  margin-top: 2rem;
}

/* details menu */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}
.menu-container img {
  width: 10px;
  margin: 0px 15px;
  filter: brightness(0) invert(1);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.menu-button {
  font-size: 9px;
  color: #fff;
  padding: 5px 20px;
  margin-left: -4px;
  border: none;
  transition-duration: 0.4s;
}

#objective-btn {
  margin: auto;
  padding-left: 5.3em;
  padding-right: 5.3em;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--colro-dark-blue);
}

#benefits-btn {
  background-color: var(--color-primary-yellow);
}
#benefits-btn img {
  max-width: 44px;
}

#mission-btn {
  background-color: var(--color-primary-brown);
}
#mission-btn img {
  max-width: 28px;
}
#goals-btn {
  background-color: var(--color-primary-blue);
}

.menu-button:focus {
  outline: 1px solid rgba(222, 225, 236, 0.5);
  outline-offset: -5px;
}

.menu-button:hover {
  opacity: 0.8;
}

/***********************/
/*     04. Slideshow   */
/***********************/
/*grey section*/
.basic-0 {
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #f3f7fd;
}

/*.slideshow-container {
}*/

.slideshow-container p {
  font-size: xx-small;
  padding-top: 5px;
}

.slideshow-container h2 {
  font-size: x-small;
  padding-bottom: 5px;
}

#slideshow {
  width: 98%;
  height: 180px;
  margin: 0 auto;
  background-color: #dee1ec;
}

/**********************/
/*     05. Footer     */
/**********************/

.footer {
  background-color: var(--color-primary-blue);
  direction: rtl;
  color: #fff;
}

.footer h4 {
  font-size: xx-small;
}

/*social media icons */

.icons-container {
  text-align: center;
}
.fa-stack {
  width: 2em;
  font-size: 1rem;
}

.fa-stack .fa-stack-1x {
  color: var(--color-primary-blue);
  transition: all 0.2s ease;
}
.fa-stack .fa-stack-2x {
  color: #fff;
  transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
  color: #fff;
}

.fa-stack:hover .fa-stack-2x {
  color: var(--color-primary-blue);
}

/*----copyright------ */
.email-link {
  color: #dee1ec;
}

.copyright {
  font-size: 10px;
  background-color: var(--color-primary-blue);
  text-align: center;
}

.copyright p {
  padding-top: 5px;
  border-top: 1px solid #f3f7fd3a;
  color: #dee1ec;
}

.media-body {
  font-size: 8px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: end;
  font-size: 9px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--colro-dark-blue);
}

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-content p {
  padding-bottom: 24px;
  color: var(--color-text-dark);
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 10%;
  right: 10%;
  color: #364f6b;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
  height: 20px;
  width: 17px;
  margin-left: 15px;
}

.colors-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding-bottom: 40px;
}
.color {
  height: 4px;
  width: 40%;
}

#blue {
  background-color: #44b1ce;
}
#brown {
  background-color: #8e805b;
}
#orange {
  background-color: #dfb029;
}
@media (min-width: 900px) {
  .header_container {
    margin: 15px;
  }

  #header_top_bar {
    height: 40px;
  }

  #logo-text-ar {
    font-size: 36px;
  }

  #logo-text-eng {
    font-size: 28px;
  }

  #header_logo {
    max-width: 112px;
    max-height: 112px;
  }

  .topnav a {
    font-size: 17px;
  }
  .text-container h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .text-container p {
    font-size: 2.5rem;
    margin-top: 3.5rem;
  }
  .basic-1 {
    padding-top: 10rem;
    padding-bottom: 7rem;
    text-align: center;
  }

  .menu-container {
    margin-top: 9em;
  }

  .menu-container img {
    width: 34px;
  }

  .menu-button {
    font-size: 36px;
    padding: 15px 30px;
  }

  .modal-content {
    font-size: large;
  }

  .modal-content h1 {
    font-size: 40px;
  }

  .modal-content img {
    height: 30px;
    width: 27px;
  }

  .color {
    height: 10px;
    width: 40%;
  }
  /***********************/
  /*     04. Slideshow   */
  /***********************/
  .basic-0 {
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  .slideshow-container p {
    font-size: large;
    padding-top: 10px;
  }

  .slideshow-container h2 {
    font-size: x-large;
    padding-bottom: 10px;
  }

  #slideshow {
    width: 70%;
    height: 450px;
  }

  /**********************/
  /*     05. Footer     */
  /**********************/

  .footer {
    padding-top: 3rem;
    background-color: var(--color-primary-blue);
    direction: rtl;
    color: #fff;
  }

  .footer-col {
    margin-bottom: 2.5rem;
  }

  .footer h4 {
    margin-bottom: 2.5rem;
    font-size: large;
  }

  .fa-map-marker {
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 3px;
    vertical-align: middle;
  }
  .fa-envelope {
    font-size: 1.8rem;
    margin-left: 5px;
    vertical-align: middle;
  }

  /*social media icons */

  .icons-container {
    text-align: center;
  }
  .fa-stack {
    width: 2em;
    margin-bottom: 0.9rem;
    font-size: 2.5rem;
  }

  .fa-stack .fa-stack-1x {
    color: var(--color-primary-blue);
    transition: all 0.2s ease;
  }
  .fa-stack .fa-stack-2x {
    color: #fff;
    transition: all 0.2s ease;
  }

  .fa-stack:hover .fa-stack-1x {
    color: #fff;
  }

  .fa-stack:hover .fa-stack-2x {
    color: var(--color-primary-blue);
  }

  /*----copyright------ */
  .email-link {
    color: #dee1ec;
  }

  .copyright {
    font-size: 17px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: var(--color-primary-blue);
    text-align: center;
  }

  .copyright p {
    padding-top: 1.3rem;
    border-top: 1px solid #f3f7fd3a;
    color: #dee1ec;
  }

  .media-body {
    font-size: small;
  }
}
