h1 {
  font-size: 12px;
  text-align: center;
}

h2 {
  font-size: 5px;
  color: #2c73ab;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}

p {
  text-align: center;
}

nav {
  display: flex;
  background-color: #d8b13cc9;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

nav p {
  color: white;
  font-size: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#IAESTE_logo {
  width: 1em;
  height: 1em;
  margin: 2px;
}

.subText {
  font-family: "Traditional Arabic";
  color: #2c73ab;
  font-size: 8px;
  margin-left: 15px;
  text-align: center;
}

.checkImg {
  width: 20px;
  height: 20px;
  padding: 3px;
}

#flagImg {
  width: 100px;
  height: 50px;
  margin-top: 10px;
}

#txt {
  padding: 10px;
  font-size: 5px;
}

#chartdiv {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.map-marker {
  /* adjusting for the marker dimensions
    so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 4px;
  height: 4px;
  border: 3px solid #fdcc39;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #dfb029;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}
.map-marker .dot {
  border: 5px solid #dfb029;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box;
}

.map-marker.map-clickable {
  cursor: pointer;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
  }

  nav p {
    font-size: 15px;
  }

  #IAESTE_logo {
    width: 3em;
    height: 3em;
    margin: 5px;
  }

  .subText {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .checkImg {
    width: 50px;
    height: 50px;
    padding: 3px;
  }

  #flagImg {
    width: 400px;
    height: 180px;
    margin-top: 20px;
  }

  #txt {
    padding: 20px;
    font-size: 17px;
  }
  .pulse {
    width: 7px;
    height: 7px;
    border: 5px solid #fdcc39;
  }
  .map-marker .dot {
    border: 7px solid #dfb029;
  }

  #chartdiv {
    margin-top: 3em;
    height: 500px;
  }
}
